@model WMS.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password-SESAME</title>
    <link rel="shortcut icon" href="~/Images/sesame.png">

    <link href="~/Content/bootstrap4.1.1/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Content/bootstrap4.1.1/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="~/Content/bootstrap4.0.0/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Content/bootstrap4.0.0/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    @Styles.Render("~/css/login.css?t=" + @DateTime.Now.Ticks.ToString())

    <script type="text/javascript">
        window.history.forward();
        var size = {
            width: window.innerWidth || document.body.clientWidth,
            height: window.innerHeight || document.body.clientHeight
        }
        $(document).ready(function () {
            $('.container').css('height', size.height - 85);

        });
    </script>
    <style type="text/css">
        .divContent {
            /*padding: 30px 0 0 50px;*/
        }

        .container {
            max-width: 500px !important;
            padding: 50px;
            height: 350px !important;
            border-radius: 10px;
            background-image: linear-gradient(#e2fefffa, #ccdcff);
        }

        .ImgLogo {
            height: 50px;
            position: relative;
        }

        .aClose {
            font-size: 28px;
            float: right;
            top: -50px;
            left: 40px;
            position: relative;
            font-weight: bold;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-image: linear-gradient(40deg,#cfe8f7,#096e8a) !important;
            color: white;
            text-align: center;
            color:#000;
            font-size:12px;
            padding-top:10px;
        }
            
    </style>
</head>
<body>
    <h1 class="heading"><img class="ImgLogo" src="~/Images/sesame_logo.png" /></h1>
    @using (Html.BeginForm("ForgotPassword", "home", FormMethod.Post))
    {
        <section class="login-block">
            <div class="container">

                <div class="divContent">
                    <a href=@Url.Action("login", "Home") title="Login" class="aClose">
                        &times;
                    </a>
                    <h3>Forgot Password</h3>
                    <hr />
                    @if (ViewBag.InfoMSG == null)
                    {
                        <span>User Name</span><em>*</em>
                        @Html.TextBoxFor(Model => Model.LoginID, new { @id = "txtLoginID", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoginID, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="loginErr">
                                @ViewBag.LoginErr
                            </div>
                        </div>
                        <br />


                        <center>
                            <button type="submit" class="btn btn-login float-right">Reset Password</button>
                        </center>
                    }
                    else
                    {
                        <h4>@ViewBag.InfoMSG<span class="spsmiley">&#128515;</span></h4>
                        <span>
                            <a href=@Url.Action("login", "Home") title="Login">
                                Login
                            </a>
                        </span>
                    }
                </div>
            </div>
            <footer>
                <center>
                    <p>&copy; @DateTime.Now.Year - SESAME</p>
                </center>
            </footer>
        </section>
    }

</body>
</html>
