@model WMS.Models.BookModels
@{
    ViewBag.Title = "Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/ProgBar/style.css?t=" + @DateTime.Now.Ticks.ToString())
    @Styles.Render("~/css/report.css?t=" + @DateTime.Now.Ticks.ToString())
    @Styles.Render("~/css/WMS.css?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Progress.js?t=" + @DateTime.Now.Ticks.ToString())

    <style type="text/css">
          /*.content {
            background: url(../Images/wood.jpg) !important;
        }*/
        #bookshelf {
            position: relative;
            box-sizing: border-box;
            vertical-align: bottom;
            padding-bottom: 10px;
            display: table;
        }

            #bookshelf .divDisp {
                display: inline-block;
                /*width: 135px;*/
                width: 250px;
                height: 170px;
                /*box-shadow: 10px 0px 5px 5px #00000078;
                box-shadow: 10px -1px 0px 2px #00000078;
                -moz-box-shadow: 10px -1px 0px 2px #00000078;
                -webkit-box-shadow: 10px -1px 0px 2px #00000078;
                border-radius: 5px 0px 0px 0px;*/
                border-radius:5px;
                color: #FFF;
                padding-top: 10px;
                padding-left: 20px;
            }

            #bookshelf a {
                position: relative;
                display: inline-block;
                margin-top: 3em;
                margin-right: -0.25em;
                padding: 0 10px;
                text-decoration: none;
            }

                #bookshelf a:after {
                    content: "";
                    position: absolute;
                    bottom: -6px;
                    left: 0;
                    right: 0;
                    height: 10px;
                    /*background: transparent url(../Images/shelf.png) no-repeat center center;*/
                }

        .spBookAction .dropdown-menu {
            top: 10px !important;
            min-width: 100%;
            min-height: 20px;
            left: -42px;
            padding-left: 14px;
            border-radius: 0px;
        }

        div#bookshelf * {
            font-weight: bold;
            letter-spacing: .5px;
        }

        .divBkInfo {
            background-color: rgba(24, 85, 105, 0.8) !important;
        }

        .fa-info-circle {
            color: white !important;
            font-size: 18px;
            margin-right: 20px;
            float: right;
            margin-bottom: 10px;
        }

        .spBookAction {
            float: right;
            right: -12px;
            position: relative;
            /*top: -10px;*/
            color: white;
        }



        .nav-tabs {
            font-weight: bold;
            letter-spacing: .5px;
        }

        #BkTabul a {
            color: #070a76;
        }

        .divBookWish {
            margin: 10px;
            letter-spacing: .5px;
        }

            .divBookWish .divPadd {
                padding: 5px;
            }

        .DivList img {
            margin: 10px;
        }

        .DivList table {
            margin-top: 10px;
        }

        .trOverDue .progress__bar {
            background-color: red !important;
        }

        .spOverDue {
            color: red;
            font-weight: bold;
        }

        .DivList table tr td {
            vertical-align: top;
        }

        .DivList table tr {
            border-bottom: #888888 2px solid;
        }

            .DivList table tr:nth-child(odd) {
                background-color: #c4dbf1;
                margin-bottom: 5px;
            }

            .DivList table tr:nth-child(even) {
                /*background-color: #ffffff;*/
                margin-bottom: 5px;
            }

        .progressbar-title {
            font-size: 14px;
            color: #848484;
            text-transform: capitalize;
        }

        .progress {
            height: 5px;
            overflow: visible;
            background: #f0f0f0;
            margin-bottom: 40px;
        }

            .progress .progress-bar {
                position: relative;
                animation: animate-positive 2s;
            }

            .progress .progress-icon {
                width: 30px;
                height: 30px;
                line-height: 25px;
                border-radius: 50%;
                font-size: 13px;
                position: absolute;
                top: -14px;
                right: 0;
                background: #fff;
                border-width: 3px;
                border-style: solid;
                cursor:default !important;
            }

        .progress-value {
            font-size: 13px;
            color: #fff;
            position: absolute;
            top: 16px;
            right: 0;
        }
    </style>
}

<input id="hf_GetWIPBookDetail" type="hidden" value='@Url.Action("GetWIPBookDetail", "Book")'>
<input id="hf_GetProgressReport" type="hidden" value='@Url.Action("GetProgressReport",  "Book")'>
<input id="hf_GetBookData" type="hidden" value='@Url.Action("GetBookDetails", "Book")'>
<div class="page-content">
    <div class="jumbotron content">
        <div class="spIconView">
            <i class="fa fa-filter iFilter" id="IFitler" aria-hidden="true" title="Filter"></i>
        </div>
        <ul class="nav nav-tabs" id="BkTabul">
            <li class="active" id="divBkWIP"><a data-toggle="tab" href="#BkWIP">WIP</a></li>
        </ul>
        
        <div class="divBookContent" style="overflow-y: auto;overflow-x:hidden;">
            <div class="BookView" id="DivBookView">

                <div id="bookshelf">

                </div>
            </div>

        </div>

    </div>
</div>

<div id="sideNavi_Filter">
    <div class="side-navi-data">
        <div class="side-navi-tab active" id="divQuickNav_filter">
            <div class="divQuickList">
                <i class="fas fa-times" id="isideClose_fitler"></i><span style="font-size:15px;">Filter</span>
                <hr />
                <div>
                    <center class="ctContent">
                        <div class="col-3">
                            <select id="ddlWIPSearch" class="form-control">
                                <option value="All">Clear</option>
                                <option value="Number">Number</option>
                                <option value="ISBN">ISBN</option>
                                <option value="Catalog">Catalog</option>
                                <option value="Publisher">Publisher</option>
                            </select>
                        </div>

                        <div id="divFilter">
                            <div id="divNumberFilter" style="display:none">
                                <select id="lstNumberList" multiple></select>
                                @*@Html.ListBoxFor(m => m.NumberList, new SelectList(Model.NumberList, "Value", "Text"), new { Multiple = "multiple", id = "lstNumberList", @class = "form-control" })*@
                            </div>
                            <div id="divCatalogFilter" style="display:none">
                                <select id="lstCatalogList" multiple></select>
                                @*@Html.ListBoxFor(m => m.CatalogList, new SelectList(Model.CatalogList, "Value", "Text"), new { Multiple = "multiple", id = "lstCatalogList", @class = "form-control" })*@
                            </div>
                            <div id="divISBNFilter" style="display:none">
                                <select id="lstISBNList" multiple></select>
                                @*@Html.ListBoxFor(m => m.ISBNList, new SelectList(Model.ISBNList, "Value", "Text"), new { Multiple = "multiple", id = "lstISBNList", @class = "form-control" })*@
                            </div>
                            <div id="divPublisherFilter" style="display:none">
                                @*<select id="lstPublisherList" multiple></select>*@
                                @Html.ListBoxFor(m => m.PublisherList, new SelectList(Model.PublisherList, "Value", "Text"), new { Multiple = "multiple", id = "lstPublisherList", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div>
                            <span class="btn btn-primary" title="Get" id="btnBkGet">Get</span>
                        </div>
                    </center>
                </div>

            </div>


        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="mymodel_art">

        <!-- Modal content-->
        <div class="modal-content" id="modal_contentArt">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Book Details</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" id="divLoadData"></div>
                    <div class="col-md-6" id="divLoadDataTrns"></div>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
