
@{
    ViewBag.Title = "Mail Template";
    Layout = "~/Views/Shared/_Layout.cshtml";


    @Styles.Render("~/CustomScripts/css/jquery.dataTables.css?t=" + @DateTime.Now.Ticks.ToString())
    @Styles.Render("~/CustomScripts/resources/syntax/shCore.css?t=" + @DateTime.Now.Ticks.ToString())

    @Scripts.Render("~/CustomScripts/js/jquery.dataTables.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/js/dataTables.fixedColumns.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Export/dataTables.buttons.min.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Export/jszip.min.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Export/pdfmake.min.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Export/vfs_fonts.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Export/buttons.html5.min.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/Scripts/date-dd-MMM-yyyy.js?t=" + @DateTime.Now.Ticks.ToString())

    @Styles.Render("~/css/report.css?t=" + @DateTime.Now.Ticks.ToString())

    @Styles.Render("~/Scripts/FullCalendar/fullcalendar.css?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/Scripts/FullCalendar/lib/moment.min.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/Scripts/FullCalendar/fullcalendar.js?t=" + @DateTime.Now.Ticks.ToString())
    @Styles.Render("~/css/userInfo.css?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/Scripts/FullCalendar/theme-chooser.js?t=" + @DateTime.Now.Ticks.ToString())

    @Styles.Render("~/css/WMS.css?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/General.js?t=" + @DateTime.Now.Ticks.ToString())
    <link href="~/css/helpdesk.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/CustomScripts/Mail/jquery.emailinput.min.css">
    <script type="text/javascript" src="~/CustomScripts/Mail/jquery.emailinput.min.js"></script>
    <link href="~/css/a.css" rel="stylesheet" />

    <style>
        .form-group {
            font-size: 12px;
        }

        .form-inline .form-control {
            width: 100%;
        }

        #spFileAdd {
            position: relative;
            font-size: 20px;
            color: #337ab7;
            float: right;
        }

        .fa-paperclip {
            font-size: 18px;
            color: #FF6347;
            margin: 2px;
        }

        #btnchat {
            float: right !important;
        }

        .panel-footer {
            height: 100px !important;
        }

        .modal-dialog {
            top: -15px;
        }

        #myModal_Chat .modal-body {
            padding-top: 5px;
        }
    </style>



}


<input id="hf_GetMailTemplateDetails" type="hidden" value='@Url.Action("GetMailTemplateDetails",  "General")'>
<input id="hf_PopulateMailDetailsByID" type="hidden" value='@Url.Action("PopulateMailDetailsByID",  "General")'>
<input id="hf_CheckExistingData" type="hidden" value='@Url.Action("CheckExistingData",  "General")'>
<input id="hf_UpdateMailTemplate" type="hidden" value='@Url.Action("UpdateMailTemplate",  "General")'>


<div class="page-content">
    <div class="jumbotron content">
        <table id="MailTemplate" class="display" width="100%"></table>
    </div>
</div>


<div id="myModal_MailTemplate" class="modal fade myModalView" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" id="btnclose">&times;</button>*@
                <h4 class="modal-title"><strong>Mail Content</strong></h4>
            </div>
            <div>
                <div class="modal-body">
                    <div class="form-group row" id="divMailContent">

                        <div class="form-group label-floating col-sm-12">
                            <label class="control-label">Template</label><em>*</em>
                            <input type="text" class="form-control" maxlength="30" id="txttemplate" style="width:100%" />
                        </div>

                        <div class="form-group label-floating col-sm-12">
                            <label class="control-label">Mail Content</label><em>*</em>
                            <textarea style="width: 100%;height: 250px;" id="txtmailcontent" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" value="Save" id="btnSave_MailContent">Add/Update</button>
                    <button type="button" class="btn btn-primary" title="Close" id="btn_close" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>

    </div>
</div>

