@model WMS.Models.FreelanceModel
@{
    ViewBag.Title = "Freelancer Activity Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Styles.Render("~/CustomScripts/css/jquery.dataTables.css?t=" + @DateTime.Now.Ticks.ToString())
    @Styles.Render("~/CustomScripts/resources/syntax/shCore.css?t=" + @DateTime.Now.Ticks.ToString())

    @Scripts.Render("~/CustomScripts/js/jquery.dataTables.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/js/dataTables.fixedColumns.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Export/dataTables.buttons.min.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Export/jszip.min.js?t=" + @DateTime.Now.Ticks.ToString())
    @*@Scripts.Render("~/CustomScripts/Export/pdfmake.min.js?t=" + @DateTime.Now.Ticks.ToString())*@
    @Scripts.Render("~/CustomScripts/Export/vfs_fonts.js?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/Export/buttons.html5.min.js?t=" + @DateTime.Now.Ticks.ToString())

    @Styles.Render("~/css/report.css?t=" + @DateTime.Now.Ticks.ToString())
    @Styles.Render("~/css/Chat.css?t=" + @DateTime.Now.Ticks.ToString())
    @Styles.Render("~/css/WMS.css?t=" + @DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/CustomScripts/FreelancerActivitiesTracking.js?t=" + @DateTime.Now.Ticks.ToString())    
}

<input type="hidden" id="hf_GetFreelancerActivitiesTracking" value="@Url.Action("GetFreelancerActivities","FreelancerActivitiesTracking")" />

<input type="hidden" id="hf_ExportToExcel" value="@Url.Action("ExportToExcel","FreelancerActivitiesTracking")" />
<style>
    td.details-control {
        background: url(../Images/details_open.png) no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url(../Images/details_close.png) no-repeat center center;
    }

    .tblChild th {
        background: #beddfb !important;
        color: #000 !important;
    }
</style>
<div class="page-content">
    <div class="jumbotron content">
        <div class="spIconView">
            <i class="fa fa-filter iFilter" id="IFitler" aria-hidden="true" title="Filter"></i>
        </div>
        <ul class="nav nav-tabs" id="BkTabul">
            <li class="active" id="divBkTrack"><a data-toggle="tab" href="#BkWIP">Tracking</a></li>
        </ul>
        <table id="tblTrackingBk" class="display" style="width:100%"></table>
    </div>
</div>
<div id="sideNavi_Filter">
    <div class="side-navi-data">
        <div class="side-navi-tab active" id="divQuickNav_filter">
            <div class="divQuickList">
                <i class="fas fa-times" id="isideClose_fitler"></i><span style="font-size:15px;">Filter</span>
                <hr />
                <div>
                    <center class="ctContent">
                        <div class="col-3">
                            <select id="ddlSearch" class="form-control">
                                <option value="All">Clear</option>
                                <option value="Pending for Allocation">Pending for Allocation</option>
                                <option value="Pending for Access">Pending for Access</option>
                                <option value="Pending for Return">Pending for Return</option>
                                <option value="Completed">Completed</option>
                                <option value="Withdrawn">Withdrawn</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select id="ddlTrackSearch" class="form-control">
                                <option value="All">Clear</option>
                                <option value="Number">Number</option>
                                <option value="ISBN">ISBN</option>
                                <option value="Catalog">Catalog</option>
                                <option value="Publisher">Publisher</option>
                                <option value="Task">Task</option>
                                <option value="Freelancer">Freelancer</option>
                            </select>
                        </div>

                        <div id="divFilter">
                            <div id="divNumberFilter" style="display:none">
                                @Html.ListBoxFor(m => m.NumberList, new SelectList(Model.NumberList, "Value", "Text"), new { Multiple = "multiple", id = "lstNumberList", @class = "form-control" })
                            </div>

                            <div id="divCatalogFilter" style="display:none">
                                @Html.ListBoxFor(m => m.CatalogList, new SelectList(Model.CatalogList, "Value", "Text"), new { Multiple = "multiple", id = "lstCatalogList", @class = "form-control" })
                            </div>

                            <div id="divISBNFilter" style="display:none">
                                @Html.ListBoxFor(m => m.ISBNList, new SelectList(Model.ISBNList, "Value", "Text"), new { Multiple = "multiple", id = "lstISBNList", @class = "form-control" })
                            </div>

                            <div id="divPublisherFilter" style="display:none">
                                @Html.ListBoxFor(m => m.PublisherList, new SelectList(Model.PublisherList, "Value", "Text"), new { Multiple = "multiple", id = "lstPublisherList", @class = "form-control" })
                            </div>

                            <div id="divTaskFilter" style="display:none">
                                @Html.ListBoxFor(m => m.TaskList, new SelectList(Model.TaskList, "Value", "Text"), new { Multiple = "multiple", id = "lstTaskList", @class = "form-control" })
                            </div>

                            <div id="divFreelancerFilter" style="display:none">
                                @Html.ListBoxFor(m => m.FreelancerList, new SelectList(Model.FreelancerList, "Value", "Text"), new { Multiple = "multiple", id = "lstFreelancerList", @class = "form-control" })
                            </div>
                            <div>
                                <input type="text" class="form-control" id="startDate" placeholder="Start Date" />
                            </div>
                            <div>
                                <input type="text" class="form-control" id="endDate" placeholder="End Date" />
                            </div>                            
                        </div>
                        <br />
                        <div>
                            <span class="btn btn-primary" title="Get" id="btnBkGet">Get</span>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>